<div class="about-sec overflow-hidden space">
    <div class="shape-mockup moving d-none d-lg-block"
         data-bottom="20%"
         data-right="0%">
        <img src="~/asset/img/update_2/shape/capsicum_1.png" alt="shape" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="img-box6">
                    <div class="img1">
                        <img src="~/asset/img/update_2/normal/about_6_1.png"
                             alt="About" />
                    </div>
                    <div class="img2">
                        <img src="~/asset/img/update_2/normal/about_6_2.png"
                             alt="About" />
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="title-area mb-30 text-center text-xl-start">
                    <span class="sub-title">About Company</span>
                    <h2 class="sec-title">We make sure Quality & Healthy Foods</h2>
                </div>
                <p class="mt-n2 mb-25 text-center text-xl-start">
                    Conveys the commitment of the restaurant to prioritize both
                    quality And health in their food offerings. It implies that the
                    recipe.
                </p>
                <div class="checklist style4 mb-25">
                    <ul>
                        <li>Food Items management</li>
                        <li>Table reservation</li>
                        <li>Customer feedback portal</li>
                        <li>Location-based services</li>
                    </ul>
                </div>
                <div class="text-center text-xl-start">
                    <a href="about.html" class="th-btn rounded-2">
                        See Details<i class="fa-solid fa-arrow-right ms-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>