
<div class="breadcumb-wrapper"
     data-bg-src="asset/img/update_2/bg/breadcumb_bg_2.jpg">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Contact Us</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</div>
<div class="space">
    <div class="container">
        <div class="row gy-4">
            <div class="col-xl-3 col-sm-6">
                <div class="contact-feature">
                    <div class="contact-feature_icon">
                        <img src="~/asset/img/update_2/icon/contact_feature_1.svg"
                             alt="Icon" />
                    </div>
                    <h4 class="box-title">Our Address</h4>
                    <span class="contact-feature_text">Street :Parker Rd. Allentown,<br />New Mexico 31134</span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="contact-feature">
                    <div class="contact-feature_icon">
                        <img src="~/asset/img/update_2/icon/contact_feature_2.svg"
                             alt="Icon" />
                    </div>
                    <h4 class="box-title">Email Address</h4>
                    <span class="contact-feature_text">
                        <a href="mailto:info.example@gmail.com">info.example@gmail.com</a>
                        <a href="mailto:info@pizzan.com">info@pizzan.com</a>
                    </span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="contact-feature">
                    <div class="contact-feature_icon">
                        <img src="~/asset/img/update_2/icon/contact_feature_3.svg"
                             alt="Icon" />
                    </div>
                    <h4 class="box-title">Phone Number</h4>
                    <span class="contact-feature_text">
                        <a href="tel:+65485965789">(+65) - 48596 - 5789</a>
                        <a href="tel:+65485965789">+65-48596-5789</a>
                    </span>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="contact-feature">
                    <div class="contact-feature_icon">
                        <img src="~/asset/img/update_2/icon/contact_feature_4.svg"
                             alt="Icon" />
                    </div>
                    <h4 class="box-title">Opening Time</h4>
                    <span class="contact-feature_text">Mon - Friday 09:AM - 09:PM<br />Saturday closed</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="" id="mapSec">
    <div class="contact-map2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.7310056272386!2d89.2286059153658!3d24.00527418490799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe9b97badc6151%3A0x30b048c9fb2129bc!2sThemeholy!5e0!3m2!1sen!2sbd!4v1651028958211!5m2!1sen!2sbd"
                allowfullscreen=""
                loading="lazy"></iframe>
    </div>
</div>
@await Component.InvokeAsync("SendMessage")
@await Component.InvokeAsync("FoodsCarusel")