<section class="position-relative bg-smoke2 space"
         id="productMenu"
         data-bg-src="asset/img/update_2/bg/menu_bg_5.png">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Popular Food Menu</span>
            <h2 class="sec-title">Choose your best menu</h2>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="food-menu-list">
                    <div class="food-menu">
                        <div class="food-menu_img">
                            <img src="~/asset/img/update_2/menu/menu_2_1.png" alt="Menu" />
                        </div>
                        <div class="food-menu_content">
                            <h3 class="food-menu_title">
                                <a href="menu.html">Chicken Barger</a>
                            </h3>
                            <p class="food-menu_desc">Grilling Churrasco Meat,</p>
                            <div class="product-rating">
                                <div class="star-rating"
                                     role="img"
                                     aria-label="Rated 4.00 out of 5">
                                    <span style="width: 75%">
                                        Rated <strong class="rating">4.00</strong> out of
                                        5
                                    </span>
                                </div>
                                4K Reviews
                            </div>
                        </div>
                        <span class="food-menu_price">$89.39</span>
                    </div>
                    <div class="food-menu">
                        <div class="food-menu_img">
                            <img src="~/asset/img/update_2/menu/menu_2_2.png" alt="Menu" />
                        </div>
                        <div class="food-menu_content">
                            <h3 class="food-menu_title">
                                <a href="menu.html">Beef Barger</a>
                            </h3>
                            <p class="food-menu_desc">Fresh from the ocean</p>
                            <div class="product-rating">
                                <div class="star-rating"
                                     role="img"
                                     aria-label="Rated 4.00 out of 5">
                                    <span style="width: 75%">
                                        Rated <strong class="rating">4.00</strong> out of
                                        5
                                    </span>
                                </div>
                                4K Reviews
                            </div>
                        </div>
                        <span class="food-menu_price">$79.39</span>
                    </div>
                    <div class="food-menu">
                        <div class="food-menu_img">
                            <img src="~/asset/img/update_2/menu/menu_2_3.png" alt="Menu" />
                        </div>
                        <div class="food-menu_content">
                            <h3 class="food-menu_title">
                                <a href="menu.html">Chicken Pizza</a>
                            </h3>
                            <p class="food-menu_desc">Japanese cuisine Bowl</p>
                            <div class="product-rating">
                                <div class="star-rating"
                                     role="img"
                                     aria-label="Rated 4.00 out of 5">
                                    <span style="width: 75%">
                                        Rated <strong class="rating">4.00</strong> out of
                                        5
                                    </span>
                                </div>
                                4K Reviews
                            </div>
                        </div>
                        <span class="food-menu_price">$59.39</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="menu-image-box">
                    <div class="img1">
                        <img src="~/asset/img/update_2/normal/image_menu.png"
                             alt="About" />
                    </div>
                    <div class="img2 jump">
                        <img src="~/asset/img/update_2/shape/pea_1.png" alt="About" />
                    </div>
                    <div class="discount_style4"
                         data-bg-src="~/asset/img/update_2/shape/discount_bg_2.svg">
                        <p class="small-text">Up to</p>
                        <h3 class="percentage">32%</h3>
                        <p class="small-text">discount</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="food-menu-list">
                    <div class="food-menu">
                        <div class="food-menu_img">
                            <img src="~/asset/img/update_2/menu/menu_2_4.png" alt="Menu" />
                        </div>
                        <div class="food-menu_content">
                            <h3 class="food-menu_title">
                                <a href="menu.html">Brief Barger</a>
                            </h3>
                            <p class="food-menu_desc">Grilling Churrasco Meat,</p>
                            <div class="product-rating">
                                <div class="star-rating"
                                     role="img"
                                     aria-label="Rated 4.00 out of 5">
                                    <span style="width: 75%">
                                        Rated <strong class="rating">4.00</strong> out of
                                        5
                                    </span>
                                </div>
                                4K Reviews
                            </div>
                        </div>
                        <span class="food-menu_price">$89.39</span>
                    </div>
                    <div class="food-menu">
                        <div class="food-menu_img">
                            <img src="~/asset/img/update_2/menu/menu_2_5.png" alt="Menu" />
                        </div>
                        <div class="food-menu_content">
                            <h3 class="food-menu_title">
                                <a href="menu.html">Beef Barbecue</a>
                            </h3>
                            <p class="food-menu_desc">Fresh from the ocean</p>
                            <div class="product-rating">
                                <div class="star-rating"
                                     role="img"
                                     aria-label="Rated 4.00 out of 5">
                                    <span style="width: 75%">
                                        Rated <strong class="rating">4.00</strong> out of
                                        5
                                    </span>
                                </div>
                                4K Reviews
                            </div>
                        </div>
                        <span class="food-menu_price">$79.39</span>
                    </div>
                    <div class="food-menu">
                        <div class="food-menu_img">
                            <img src="~/asset/img/update_2/menu/menu_2_6.png" alt="Menu" />
                        </div>
                        <div class="food-menu_content">
                            <h3 class="food-menu_title">
                                <a href="menu.html">European</a>
                            </h3>
                            <p class="food-menu_desc">Japanese cuisine Bowl</p>
                            <div class="product-rating">
                                <div class="star-rating"
                                     role="img"
                                     aria-label="Rated 4.00 out of 5">
                                    <span style="width: 75%">
                                        Rated <strong class="rating">4.00</strong> out of
                                        5
                                    </span>
                                </div>
                                4K Reviews
                            </div>
                        </div>
                        <span class="food-menu_price">$59.39</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>