@model HeaderViewModel

<footer class="footer-wrapper footer-layout5"
        data-bg-src="~/asset/img/update_2/bg/footer_bg_6.jpg">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-3">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">About Restaurant</h3>
                        <div class="th-widget-about">
                            <p class="about-text">
                                Quickly supply alternative strategic theme areas vis-a-vis
                                B2C mindshare. Objectively repurpose stand-alone synergy via
                                user-centric architectures.
                            </p>
                            <div class="th-social">

                                    @foreach (var item2 in Model.socialLinks)
                                    {
                                        <a href="@item2.Link">
                                            @Html.Raw(item2.Icon)
                                        </a>
                                    }
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Our Menu</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="menu-fast.html">Chicken Barger</a></li>
                                <li><a href="menu-fast.html">Brief Pizza</a></li>
                                <li><a href="menu-fast.html">Fresh Vegetable</a></li>
                                <li><a href="menu-fast.html">Sea Foods</a></li>
                                <li><a href="menu-fast.html">Indian Kabab</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Recent Posts</h3>
                        <div class="recent-post-wrap">
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html">
                                        <img src="~/asset/img/update_2/blog/recent-post-2-1.jpg"
                                             alt="Blog Image" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title">
                                        <a class="text-inherit" href="blog-details.html">10 Reasons To Do A Digital Detox Challenge</a>
                                    </h4>
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>21 June, 2023</a>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img">
                                    <a href="blog-details.html">
                                        <img src="~/asset/img/update_2/blog/recent-post-2-2.jpg"
                                             alt="Blog Image" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="post-title">
                                        <a class="text-inherit" href="blog-details.html">New Restaurant Town Our Ple Award Contract</a>
                                    </h4>
                                    <div class="recent-post-meta">
                                        <a href="blog.html"><i class="fal fa-calendar-days"></i>22 June, 2023</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget newsletter-widget footer-widget">
                        <h3 class="widget_title">Subscribe Now</h3>
                        <p class="footer-text">
                            Subscribe Our newsletter to get our Latest Update & News
                        </p>
                        <div class="newsletter-v3">
                            <form class="newsletter-form">
                                <input class="form-control"
                                       type="email"
                                       placeholder="Enter Email"
                                       required="" />
                                <button type="submit" class="icon-btn">
                                    <i class="fa-sharp fa-solid fa-paper-plane"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap" data-bg-color="#04090D">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <p class="copyright-text">
                        Copyright <i class="fal fa-copyright"></i> 2023
                        <a href="https://themeforest.net/user/themeholy">Themeholy</a>.
                        All Rights Reserved.
                    </p>
                </div>
                <div class="col-lg-6 text-end d-none d-lg-block">
                    <div class="footer-links">
                        <ul>
                            <li><a href="about.html">Privacy Policy</a></li>
                            <li><a href="about.html">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="scroll-top">
    <svg class="progress-circle svg-content"
         width="100%"
         height="100%"
         viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
              style="
            transition: stroke-dashoffset 10ms linear 0s;
            stroke-dasharray: 307.919, 307.919;
            stroke-dashoffset: 307.919;
          "></path>
    </svg>
</div>