@model Foods
@{
    ViewData["Title"] = "Create";
}

<style>
    label, h1, hr {
        color: #FF7636;
    }
</style>
<h1 class="text-center display-3">Create Food</h1>
<hr />

<div class="mx-auto d-block">
    <form enctype="multipart/form-data" class="mx-auto" method="post" asp-action="Create">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col">
                <label asp-for="Name" class="control-label ">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group col">
                <label asp-for="Description" class="control-label ">Description</label>
                <input asp-for="Description" class="form-control" placeholder="Description">
            </div>
            <div class="form-group col">
                <label asp-for="CategoriesId" class="control-label">Food Category</label>
                <select asp-for="CategoriesId" class="form-control" asp-items="ViewBag.CategoriesId"></select>
            </div>
            <div class="form-group col">
                <label asp-for="RestaurantsId" class="control-label">Food Restaurants</label>
                <select asp-for="RestaurantsId" class="form-control" asp-items="ViewBag.RestaurantsId"></select>
            </div>
        </div>
        <div class="form-group col">
            <div class="custom-file" style="width: 200px;">
                <label asp-for="Image" class="control-label ">Image</label>
                <input type="file" asp-for="Image" name="imageFile" class="form-control">
                       
            </div>
        </div>
        <div class="form-group mt-4 text-center">
            <input type="submit" value="Create" class="btn btn-outline-success btn-lg" />
        </div>
    </form>
</div>

<div>
    <a class="btn btn-outline-info btn-lg text-decoration-none  float-end" asp-action="Index">Back to List</a>
</div>

