@await Component.InvokeAsync("SpecialFood")
@await Component.InvokeAsync("BestCategory")
@await Component.InvokeAsync("AboutCompany")
@await Component.InvokeAsync("PopularMenu")
@await Component.InvokeAsync("MakeReservation")
@await Component.InvokeAsync("WhyChooseUs")
@await Component.InvokeAsync("Foods")
@await Component.InvokeAsync("Testimonials")
@await Component.InvokeAsync("BlogNews")
<div class="bg-theme pt-45 pb-45">
    <div class="container">
        <div class="row th-carousel"
             id="brandSlide1"
             data-slide-show="6"
             data-lg-slide-show="5"
             data-md-slide-show="4"
             data-sm-slide-show="3"
             data-xs-slide-show="2">
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_1.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_1.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_2.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_2.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_3.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_3.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_4.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_4.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_5.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_5.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_6.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_6.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_7.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_7.svg"
                         alt="Brand Logo" />
                </div>
            </div>
        </div>
    </div>
</div>