@await Component.InvokeAsync("SpecialFood")
@await Component.InvokeAsync("BestCategory")
@await Component.InvokeAsync("AboutCompany")
@await Component.InvokeAsync("PopularMenu")
@await Component.InvokeAsync("WhyChooseUs")
<section class="space-extra bg-auto-repeat bg-title"
         data-bg-src="~/asset/img/update_2/bg/feature_bg_5.png">
    <div class="container">
        <div class="food-feature-wrap">
            <div class="food-feature">
                <div class="food-feature_icon">
                    <img src="~/asset/img/update_2/icon/feature_3_1.svg" alt="Food" />
                </div>
                <h3 class="food-feature_title box-title">Fast Foods</h3>
                <p class="food-feature_text">100% Natural fast foods</p>
            </div>
            <div class="divider"></div>
            <div class="food-feature">
                <div class="food-feature_icon">
                    <img src="~/asset/img/update_2/icon/feature_3_2.svg" alt="Food" />
                </div>
                <h3 class="food-feature_title box-title">Home Delivery</h3>
                <p class="food-feature_text">Free home delivery by $50</p>
            </div>
            <div class="divider"></div>
            <div class="food-feature">
                <div class="food-feature_icon">
                    <img src="~/asset/img/update_2/icon/feature_3_3.svg" alt="Food" />
                </div>
                <h3 class="food-feature_title box-title">Low Costing</h3>
                <p class="food-feature_text">By prioritizing Efficiency</p>
            </div>
            <div class="divider"></div>
            <div class="food-feature">
                <div class="food-feature_icon">
                    <img src="~/asset/img/update_2/icon/feature_3_4.svg" alt="Food" />
                </div>
                <h3 class="food-feature_title box-title">Event & Party</h3>
                <p class="food-feature_text">100% Natural fast foods</p>
            </div>
        </div>
    </div>
</section>
<div class="bg-theme pt-45 pb-45">
    <div class="container">
        <div class="row th-carousel"
             id="brandSlide1"
             data-slide-show="6"
             data-lg-slide-show="5"
             data-md-slide-show="4"
             data-sm-slide-show="3"
             data-xs-slide-show="2">
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_1.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_1.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_2.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_2.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_3.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_3.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_4.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_4.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_5.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_5.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_6.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_6.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box style-white">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_7.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_7.svg"
                         alt="Brand Logo" />
                </div>
            </div>
        </div>
    </div>
</div>