@model FastFoot.Web.UI.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "ProfileSettings";
}


@if (!string.IsNullOrWhiteSpace(ViewBag.role) && ViewBag.role == "Restaurants")
{
    <h1>Restaurants</h1>
}
else if (!string.IsNullOrWhiteSpace(ViewBag.role) && ViewBag.role == "Kuryer")
{
    <h1>Kuryer</h1>
}
else
{
    <h1>User</h1>
}
