<div class="preloader">
    <button class="th-btn style3 preloaderCls">Cancel Preloader</button>
    <div class="preloader-inner"><span class="loader"></span></div>
</div>
<div id="QuickView" class="white-popup mfp-hide">
    <div class="container bg-white">
        <div class="row">
            <div class="col-lg-7">
                <div class="product-thumb-area">
                    <div class="product-thumb-tab" data-asnavfor=".product-big-img">
                        <div class="tab-btn active">
                            <img src="~/asset/img/menu/menu_thumb_1_1.png"
                                 alt="Product Thumb" />
                        </div>
                        <div class="tab-btn">
                            <img src="~/asset/img/menu/menu_thumb_1_2.png"
                                 alt="Product Thumb" />
                        </div>
                        <div class="tab-btn">
                            <img src="~/asset/img/menu/menu_thumb_1_3.png"
                                 alt="Product Thumb" />
                        </div>
                        <div class="tab-btn">
                            <img src="~/asset/img/menu/menu_thumb_1_4.png"
                                 alt="Product Thumb" />
                        </div>
                        <div class="tab-btn">
                            <img src="~/asset/img/menu/menu_thumb_1_5.png"
                                 alt="Product Thumb" />
                        </div>
                    </div>
                    <div class="product-big-img th-carousel"
                         data-slide-show="1"
                         data-md-slide-show="1"
                         data-fade="true">
                        <div class="col-auto">
                            <div class="img">
                                <img src="~/asset/img/menu/product_details_1_1.png"
                                     alt="Product Image" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="img">
                                <img src="~/asset/img/menu/product_details_1_2.png"
                                     alt="Product Image" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="img">
                                <img src="~/asset/img/menu/product_details_1_3.png"
                                     alt="Product Image" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="img">
                                <img src="~/asset/img/menu/product_details_1_4.png"
                                     alt="Product Image" />
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="img">
                                <img src="~/asset/img/menu/product_details_1_5.png"
                                     alt="Product Image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <div class="product-about">
                    <div class="product-rating">
                        <div class="star-rating"
                             role="img"
                             aria-label="Rated 5.00 out of 5">
                            <span style="width: 100%">
                                Rated <strong class="rating">5.00</strong> out of 5 based
                                on <span class="rating">1</span> customer rating
                            </span>
                        </div>
                        <a href="shop-details.html" class="woocommerce-review-link">(<span class="count">3</span> customer reviews)</a>
                    </div>
                    <h2 class="product-title">Chicken Masala</h2>
                    <p class="price">$180.85<del>$350.99</del></p>
                    <p class="text">
                        There are many variations of passages of lorem Ipum available
                        theresu anything embarrassing It’s a long established fact that
                        a reader will be looking at its layout.
                    </p>
                    <div class="actions">
                        <div class="quantity">
                            <input type="number"
                                   class="qty-input"
                                   step="1"
                                   min="1"
                                   max="100"
                                   name="quantity"
                                   value="1"
                                   title="Qty" />
                            <button class="quantity-plus qty-btn">
                                <i class="far fa-chevron-up"></i>
                            </button>
                            <button class="quantity-minus qty-btn">
                                <i class="far fa-chevron-down"></i>
                            </button>
                        </div>
                        <button class="th-btn">Add to Cart</button>
                        <a class="icon-btn" href="wishlist.html">
                            <i class="fal fa-heart"></i>
                        </a>
                    </div>
                    <div class="product_meta">
                        <span class="sku_wrapper">SKU: <span class="sku">C2546</span></span>
                        <span class="posted_in">
                            Category:
                            <a href="shop.html" rel="tag">Chicken Pizza</a>
                        </span>
                        <span>
                            Tags: <a href="shop.html">Fast Food</a><a href="shop.html">Grill</a>
                        </span>
                    </div>
                    <div class="share">
                        <p class="share-title">
                            <i class="fa-solid fa-share"></i> Share
                        </p>
                        <div class="th-social">
                            <a target="_blank" href="https://facebook.com/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a target="_blank" href="https://twitter.com/">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a target="_blank" href="https://instagram.com/">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a target="_blank" href="https://linkedin.com/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
</div>
<div class="sidemenu-wrapper d-none d-lg-block">
    <div class="sidemenu-content">
        <button class="closeButton sideMenuCls">
            <i class="far fa-times"></i>
        </button>
        <div class="widget woocommerce widget_shopping_cart">
            <h3 class="widget_title">Shopping cart</h3>
            <div class="widget_shopping_cart_content">
                <ul class="woocommerce-mini-cart cart_list product_list_widget">
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#" class="remove remove_from_cart_button">
                            <i class="far fa-times"></i>
                        </a>
                        <a href="#">
                            <img src="~/asset/img/menu/menu_thumb_1_1.png"
                                 alt="Cart Image" />Daria Shevtsova
                        </a>
                        <span class="quantity">
                            1 ×
                            <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>40.00
                            </span>
                        </span>
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#" class="remove remove_from_cart_button">
                            <i class="far fa-times"></i>
                        </a>
                        <a href="#">
                            <img src="~/asset/img/menu/menu_thumb_1_2.png"
                                 alt="Cart Image" />Chicken Masala
                        </a>
                        <span class="quantity">
                            1 ×
                            <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>99.00
                            </span>
                        </span>
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#" class="remove remove_from_cart_button">
                            <i class="far fa-times"></i>
                        </a>
                        <a href="#">
                            <img src="~/asset/img/menu/menu_thumb_1_3.png"
                                 alt="Cart Image" />Sicilian Pizza
                        </a>
                        <span class="quantity">
                            1 ×
                            <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>56.00
                            </span>
                        </span>
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#" class="remove remove_from_cart_button">
                            <i class="far fa-times"></i>
                        </a>
                        <a href="#">
                            <img src="~/asset/img/menu/menu_thumb_1_4.png"
                                 alt="Cart Image" />Beef Masala
                        </a>
                        <span class="quantity">
                            1 ×
                            <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>23.00
                            </span>
                        </span>
                    </li>
                    <li class="woocommerce-mini-cart-item mini_cart_item">
                        <a href="#" class="remove remove_from_cart_button">
                            <i class="far fa-times"></i>
                        </a>
                        <a href="#">
                            <img src="~/asset/img/menu/menu_thumb_1_5.png"
                                 alt="Cart Image" />Martin Widenka
                        </a>
                        <span class="quantity">
                            1 ×
                            <span class="woocommerce-Price-amount amount">
                                <span class="woocommerce-Price-currencySymbol">$</span>100.00
                            </span>
                        </span>
                    </li>
                </ul>
                <p class="woocommerce-mini-cart__total total">
                    <strong>Subtotal:</strong>
                    <span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol">$</span>318.00
                    </span>
                </p>
                <p class="woocommerce-mini-cart__buttons buttons">
                    <a href="cart.html" class="th-btn wc-forward">View cart</a>
                    <a href="checkout.html" class="th-btn checkout wc-forward">Checkout</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="popup-search-box d-none d-lg-block">
    <button class="searchClose"><i class="fal fa-times"></i></button>
    <form action="#">
        <input type="text" placeholder="What are you looking for?" />
        <button type="submit"><i class="fal fa-search"></i></button>
    </form>
</div>
<div class="th-menu-wrapper">
    <div class="th-menu-area text-center">
        <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="index.html">
                <img src="~/asset/img/logo.svg" alt="Pizzan" />
            </a>
        </div>
        <div class="th-mobile-menu">
            <ul>
                <li class="menu-item-has-children">
                    <a href="index.html">Home</a>
                    <ul class="sub-menu">
                        <li><a asp-area="" asp-controller="HomeRestaurants" asp-action="Index">Restaurant Home</a></li>
                        <li>
                            <a href="home-fast-food-rastaurant.html">Fast Food Restaurant</a>
                        </li>
                        <li><a href="home-fast-food.html">Fast Food Home</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Menu</a>
                    <ul class="sub-menu">
                        <li><a asp-area="" asp-controller="FastFoods" asp-action="Index">Fast Food Menu</a></li>
                        <li><a href="menu-rest.html">Restaurant Food Menu</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Shop</a>
                    <ul class="sub-menu">
                        <li><a asp-area="" asp-controller="Shops" asp-action="Index">Shop</a></li>
                        <li><a asp-area="" asp-controller="ShopDetails" asp-action="Index">Shop Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children mega-menu-wrap">
                    <a href="#">Pages</a>
                    <ul class="mega-menu">
                        <li>
                            <a href="shop.html">Pagelist 1</a>
                            <ul>
                                <li><a href="home-restaurant.html">Restaurant Home</a></li>
                                <li>
                                    <a href="home-fast-food-rastaurant.html">Fast Food Restaurant</a>
                                </li>
                                <li><a href="home-fast-food.html">Fast Food Home</a></li>
                                <li><a asp-area="" asp-controller="About" asp-action="Index">About Us</a></li>
                                <li><a href="reservation.html">Reservation</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pagelist 2</a>
                            <ul>
                                <li><a href="menu-fast.html">Fast Food Menu</a></li>
                                <li><a href="menu-rest.html">Restaurant Food Menu</a></li>
                                <li><a href="team.html">Our Chef</a></li>
                                <li><a href="team-details.html">Chef Details</a></li>
                                <li><a asp-area="" asp-controller="Faq" asp-action="Index">Faq Page</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pagelist 3</a>
                            <ul>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-details.html">Shop Details</a></li>
                                <li><a href="cart.html">Cart Page</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pagelist 4</a>
                            <ul>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                                <li><a href="testimonial.html">Testimonial</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="error.html">Error Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">News</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">News</a></li>
                        <li><a href="blog-details.html">News Details</a></li>
                    </ul>
                </li>
                <li><a asp-area="" asp-controller="Contact" asp-action="Index">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="th-header header-layout6">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-center justify-content-lg-between align-items-center">
                <div class="col-auto d-none d-lg-block">
                    <div class="header-links">
                        <ul>
                            <li>
                                <i class="far fa-envelope"></i><a href="mailto:needhelp.pizzan@gmail.com">needhelp.pizzan@gmail.com</a>
                            </li>
                            <li>
                                <i class="far fa-location-dot"></i>Rd. Allentown, New Mexico
                                31134
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-links">
                        <ul>
                            <li><i class="far fa-user"></i>Login/Register</li>
                            <li>
                                <div class="header-social">
                                    <a href="https://www.facebook.com/">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="https://www.twitter.com/">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="https://www.linkedin.com/">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a href="https://www.instagram.com/">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-wrapper">
        <div class="container">
            <div class="menu-area">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo">
                            <a href="index.html">
                                <img src="~/asset/img/logo.svg" alt="Pizzan" />
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <nav class="main-menu d-none d-lg-inline-block">
                            <ul>
                                <li class="menu-item-has-children">
                                    <a href="index.html">Home</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="home-restaurant.html">Restaurant Home</a>
                                        </li>
                                        <li>
                                            <a href="home-fast-food-rastaurant.html">Fast Food Restaurant</a>
                                        </li>
                                        <li>
                                            <a href="home-fast-food.html">Fast Food Home</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Menu</a>
                                    <ul class="sub-menu">
                                        <li><a href="menu-fast.html">Fast Food Menu</a></li>
                                        <li>
                                            <a href="menu-rest.html">Restaurant Food Menu</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">Shop</a></li>
                                        <li><a href="shop-details.html">Shop Details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children mega-menu-wrap">
                                    <a href="#">Pages</a>
                                    <ul class="mega-menu">
                                        <li>
                                            <a href="shop.html">Pagelist 1</a>
                                            <ul>
                                                <li>
                                                    <a href="home-restaurant.html">Restaurant Home</a>
                                                </li>
                                                <li>
                                                    <a href="home-fast-food-rastaurant.html">Fast Food Restaurant</a>
                                                </li>
                                                <li>
                                                    <a href="home-fast-food.html">Fast Food Home</a>
                                                </li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="reservation.html">Reservation</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pagelist 2</a>
                                            <ul>
                                                <li><a href="menu-fast.html">Fast Food Menu</a></li>
                                                <li>
                                                    <a href="menu-rest.html">Restaurant Food Menu</a>
                                                </li>
                                                <li><a href="team.html">Our Chef</a></li>
                                                <li>
                                                    <a href="team-details.html">Chef Details</a>
                                                </li>
                                                <li><a href="faq.html">Faq Page</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pagelist 3</a>
                                            <ul>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li>
                                                    <a href="shop-details.html">Shop Details</a>
                                                </li>
                                                <li><a href="cart.html">Cart Page</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pagelist 4</a>
                                            <ul>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li>
                                                    <a href="blog-details.html">Blog Details</a>
                                                </li>
                                                <li><a href="testimonial.html">Testimonial</a></li>
                                                <li><a href="contact.html">Contact Us</a></li>
                                                <li><a href="error.html">Error Page</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">News</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">News</a></li>
                                        <li><a href="blog-details.html">News Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-auto">
                        <div class="header-button">
                            <button type="button" class="simple-icon searchBoxToggler">
                                <i class="far fa-search"></i>
                            </button>
                            <button type="button" class="simple-icon sideMenuToggler">
                                <i class="far fa-cart-shopping"></i>
                                <span class="badge">5</span>
                            </button>
                            <a href="contact.html" class="th-btn style7 rounded-2">
                                Book a Table<i class="fa-solid fa-arrow-right ms-2"></i>
                            </a>
                            <button type="button"
                                    class="th-menu-toggle d-inline-block d-lg-none">
                                <i class="far fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
