<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a asp-area="FoltAdmin" asp-controller="Cities" asp-action="Index" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Cities</span>
                    </a>
                </li>

                <li>
                    <a asp-area="FoltAdmin" asp-controller="Categories" asp-action="Index" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Categories</span>
                    </a>
                </li>
                <li>
                    <a asp-area="FoltAdmin" asp-controller="Foods" asp-action="Index" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Foods</span>
                    </a>
                </li>
                <li>
                    <a asp-area="FoltAdmin" asp-controller="Couriers" asp-action="Index" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Couriers</span>
                    </a>
                </li>
                <li>
                    <a asp-area="FoltAdmin" asp-controller="Restaurants" asp-action="Index" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Restaurants</span>
                    </a>
                </li>
                <li>
                    <a asp-area="FoltAdmin" asp-controller="Orders" asp-action="Index" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Orders</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>