<section class="overflow-hidden space">
    <div class="shape-mockup jump d-none d-xl-block"
         data-bottom="0"
         data-right="5%">
        <img src="~/asset/img/update_2/shape/french_fry.png" alt="shape" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="pe-xxl-5">
                    <div class="title-area mb-40 text-center text-xl-start">
                        <span class="sub-title">Testimonials</span>
                        <h2 class="sec-title">What customer saying About Services</h2>
                    </div>
                </div>
                <div class="testi-card-slide">
                    <div class="row th-carousel number-dots"
                         data-slide-show="1"
                         data-lg-slide-show="2"
                         data-md-slide-show="1"
                         data-dots="true"
                         data-xl-dots="true"
                         data-ml-dots="true"
                         data-lg-dots="true"
                         data-md-dots="true">
                        <div class="col-xl-4 col-lg-6">
                            <div class="testi-card">
                                <div class="testi-card_review">
                                    <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <p class="testi-card_text">
                                    <i class="fas fa-quote-left"></i>Pellentesque maximus
                                    velit ligula, amet efficitur neque condimentum eu. et odio
                                    elementum, sollicitudin Ipsum quis, rutrum sapien. Aenean
                                    in posuere elit, sed Dignissim justo. Nunc ut aliquet
                                    turpis<i class="fas fa-quote-right"></i>
                                </p>
                                <div class="testi-card_profile">
                                    <div class="testi-card_avater">
                                        <img src="~/asset/img/update_2/normal/testi_4_1.jpg"
                                             alt="Avater" />
                                    </div>
                                    <div class="media-body">
                                        <h3 class="testi-card_name">Rayan Kook</h3>
                                        <span class="testi-card_desig">NYC, USA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <div class="testi-card">
                                <div class="testi-card_review">
                                    <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <p class="testi-card_text">
                                    <i class="fas fa-quote-left"></i>Pellentesque maximus
                                    velit ligula, amet efficitur neque condimentum eu. et odio
                                    elementum, sollicitudin Ipsum quis, rutrum sapien. Aenean
                                    in posuere elit, sed Dignissim justo. Nunc ut aliquet
                                    turpis<i class="fas fa-quote-right"></i>
                                </p>
                                <div class="testi-card_profile">
                                    <div class="testi-card_avater">
                                        <img src="~/asset/img/update_2/normal/testi_4_2.jpg"
                                             alt="Avater" />
                                    </div>
                                    <div class="media-body">
                                        <h3 class="testi-card_name">Michel Clark</h3>
                                        <span class="testi-card_desig">DYM, USA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <div class="testi-card">
                                <div class="testi-card_review">
                                    <i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i><i class="fa-sharp fa-solid fa-star"></i>
                                </div>
                                <p class="testi-card_text">
                                    <i class="fas fa-quote-left"></i>Pellentesque maximus
                                    velit ligula, amet efficitur neque condimentum eu. et odio
                                    elementum, sollicitudin Ipsum quis, rutrum sapien. Aenean
                                    in posuere elit, sed Dignissim justo. Nunc ut aliquet
                                    turpis<i class="fas fa-quote-right"></i>
                                </p>
                                <div class="testi-card_profile">
                                    <div class="testi-card_avater">
                                        <img src="~/asset/img/update_2/normal/testi_4_3.jpg"
                                             alt="Avater" />
                                    </div>
                                    <div class="media-body">
                                        <h3 class="testi-card_name">Rosse Mons</h3>
                                        <span class="testi-card_desig">DO, USA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mt-40 mt-xl-0">
                <div class="testi-card-img">
                    <div class="img1">
                        <img src="~/asset/img/update_2/normal/testi-card_img.png"
                             alt="Image" />
                    </div>
                    <div class="shape1">
                        <img src="~/asset/img/update_2/normal/testi-card_shape_1.png"
                             alt="Image" />
                    </div>
                    <div class="shape2">
                        <img src="~/asset/img/update_2/normal/testi-card_shape_2.png"
                             alt="Image" />
                    </div>
                    <div class="shape3">
                        <img src="~/asset/img/update_2/normal/testi-card_shape_3.png"
                             alt="Image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>