<section class="">
    <div class="container th-container">
        <div class="row filter-active mb-gutter-negative">
            <div class="col-xxl-auto col-md-6 filter-item">
                <div class="gallery-card style2">
                    <div class="gallery-img">
                        <img src="~/asset/img/update_2/gallery/gallery_3_1.jpg"
                             alt="gallery image" />
                    </div>
                    <div class="gallery-content">
                        <h2 class="gallery-title box-title">Hotest Egg</h2>
                        <a href="asset/img/update_2/gallery/gallery_3_1.jpg"
                           class="icon-btn popup-image">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-md-6 filter-item">
                <div class="gallery-card style2">
                    <div class="gallery-img">
                        <img src="~/asset/img/update_2/gallery/gallery_3_2.jpg"
                             alt="gallery image" />
                    </div>
                    <div class="gallery-content">
                        <h2 class="gallery-title box-title">Chicken Fry</h2>
                        <a href="asset/img/update_2/gallery/gallery_3_2.jpg"
                           class="icon-btn popup-image">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-md-6 filter-item">
                <div class="gallery-card style2">
                    <div class="gallery-img">
                        <img src="~/asset/img/update_2/gallery/gallery_3_3.jpg"
                             alt="gallery image" />
                    </div>
                    <div class="gallery-content">
                        <h2 class="gallery-title box-title">Duck Recipes</h2>
                        <a href="asset/img/update_2/gallery/gallery_3_3.jpg"
                           class="icon-btn popup-image">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-md-6 filter-item">
                <div class="gallery-card style2">
                    <div class="gallery-img">
                        <img src="~/asset/img/update_2/gallery/gallery_3_4.jpg"
                             alt="gallery image" />
                    </div>
                    <div class="gallery-content">
                        <h2 class="gallery-title box-title">Full Chicken Grill</h2>
                        <a href="asset/img/update_2/gallery/gallery_3_4.jpg"
                           class="icon-btn popup-image">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-md-6 filter-item">
                <div class="gallery-card style2">
                    <div class="gallery-img">
                        <img src="~/asset/img/update_2/gallery/gallery_3_5.jpg"
                             alt="gallery image" />
                    </div>
                    <div class="gallery-content">
                        <h2 class="gallery-title box-title">Chicken Ball</h2>
                        <a href="asset/img/update_2/gallery/gallery_3_5.jpg"
                           class="icon-btn popup-image">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-md-6 filter-item">
                <div class="gallery-card style2">
                    <div class="gallery-img">
                        <img src="~/asset/img/update_2/gallery/gallery_3_6.jpg"
                             alt="gallery image" />
                    </div>
                    <div class="gallery-content">
                        <h2 class="gallery-title box-title">Chicken Burger</h2>
                        <a href="asset/img/update_2/gallery/gallery_3_6.jpg"
                           class="icon-btn popup-image">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>