@* @model CampaignBannerViewModel

@if (Model.Banners.Count() > 0 && Model.Campaigns.Count() > 0)
{
    <div class="gallery-thumb-area">
        <div class="row gx-10 th-carousel"
             id="gallerySlide1"
             data-slide-show="8"
             data-ml-slide-show="7"
             data-lg-slide-show="6"
             data-md-slide-show="5"
             data-sm-slide-show="4"
             data-xs-slide-show="3"
             data-focuson-select="false">
            @foreach (var item in Model.Campaigns)
            {
                <div class="col-auto">
                    <div class="gallery-thumb">
                        <img src="~/asset/img/update_2/widget/gallery_2_1.jpg"
                             alt="Gallery Image" />
                        <a href="~/img/@item.ImagePath"
                           class="gallery-btn popup-image">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            }
            @foreach (var item in Model.Banners)
            {
                <div class="col-auto">
                    <div class="gallery-thumb">
                        <img src="~/asset/img/update_2/widget/gallery_2_1.jpg"
                             alt="Gallery Image" />
                        <a href="~/img/@item.ImagePath"
                           class="gallery-btn popup-image">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
}
 *@