<div class="gallery-thumb-area">
    <div class="row gx-10 th-carousel"
         id="gallerySlide1"
         data-slide-show="8"
         data-ml-slide-show="7"
         data-lg-slide-show="6"
         data-md-slide-show="5"
         data-sm-slide-show="4"
         data-xs-slide-show="3"
         data-focuson-select="false">
        <div class="col-auto">
            <div class="gallery-thumb">
                <img src="~/asset/img/update_2/widget/gallery_2_1.jpg"
                     alt="Gallery Image" />
                <a href="~/asset/img/update_2/widget/gallery_2_1.jpg"
                   class="gallery-btn popup-image">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="col-auto">
            <div class="gallery-thumb">
                <img src="~/asset/img/update_2/widget/gallery_2_2.jpg"
                     alt="Gallery Image" />
                <a href="~/asset/img/update_2/widget/gallery_2_2.jpg"
                   class="gallery-btn popup-image">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="col-auto">
            <div class="gallery-thumb">
                <img src="~/asset/img/update_2/widget/gallery_2_3.jpg"
                     alt="Gallery Image" />
                <a href="~/asset/img/update_2/widget/gallery_2_3.jpg"
                   class="gallery-btn popup-image">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="col-auto">
            <div class="gallery-thumb">
                <img src="~/asset/img/update_2/widget/gallery_2_4.jpg"
                     alt="Gallery Image" />
                <a href="~/asset/img/update_2/widget/gallery_2_4.jpg"
                   class="gallery-btn popup-image">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="col-auto">
            <div class="gallery-thumb">
                <img src="~/asset/img/update_2/widget/gallery_2_5.jpg"
                     alt="Gallery Image" />
                <a href="~/asset/img/update_2/widget/gallery_2_5.jpg"
                   class="gallery-btn popup-image">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="col-auto">
            <div class="gallery-thumb">
                <img src="~/asset/img/update_2/widget/gallery_2_6.jpg"
                     alt="Gallery Image" />
                <a href="~/asset/img/update_2/widget/gallery_2_6.jpg"
                   class="gallery-btn popup-image">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="col-auto">
            <div class="gallery-thumb">
                <img src="~/asset/img/update_2/widget/gallery_2_7.jpg"
                     alt="Gallery Image" />
                <a href="~/asset/img/update_2/widget/gallery_2_7.jpg"
                   class="gallery-btn popup-image">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="col-auto">
            <div class="gallery-thumb">
                <img src="~/asset/img/update_2/widget/gallery_2_8.jpg"
                     alt="Gallery Image" />
                <a href="~/asset/img/update_2/widget/gallery_2_8.jpg"
                   class="gallery-btn popup-image">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="col-auto">
            <div class="gallery-thumb">
                <img src="~/asset/img/update_2/widget/gallery_2_9.jpg"
                     alt="Gallery Image" />
                <a href="~/asset/img/update_2/widget/gallery_2_9.jpg"
                   class="gallery-btn popup-image">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>