<section class="product-sec space-top" id="shop-sec">
    <div class="shape-mockup jump" data-top="40%" data-left="0%">
        <img src="~/asset/img/update_2/shape/shape_2.png" alt="shape" />
    </div>
    <div class="shape-mockup moving" data-top="17%" data-right="7%">
        <img src="~/asset/img/update_2/shape/shape_3.png" alt="shape" />
    </div>
    <div class="container">
        <div class="row justify-content-md-between justify-content-center align-items-center">
            <div class="title-area mb-40 text-center wow fadeInUp">
                <span class="sub-title mt-n1">Best Food menu</span>
                <h2 class="sec-title">Our Popular Food Items</h2>
            </div>
        </div>
        <div class="row th-carousel productSlide"
             data-slide-show="4"
             data-lg-slide-show="3"
             data-md-slide-show="2"
             data-sm-slide-show="2"
             data-xs-slide-show="1"
             data-arrows="true">
            <div class="col-lg-4 col-sm-6">
                <div class="th-menu">
                    <div class="th-menu_img">
                        <img class="spin"
                             src="~/asset/img/update_2/menu/menu_1_1.png"
                             alt="menu Image" />
                        <div class="product-action">
                            <a href="cart.html">
                                <span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span>
                            </a>
                            <a href="wishlist.html">
                                <span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span>
                            </a>
                            <a class="popup-content" href="#QuickView">
                                <span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span>
                            </a>
                        </div>
                        <div class="th-menu_discount">
                            <span class="sale">24% OFF</span>
                        </div>
                    </div>
                    <div class="th-menu-content">
                        <h3 class="th-menu_title">
                            <a href="shop-details.html">Brief Pizza</a>
                        </h3>
                        <p class="th-menu_desc">Barbecue Italian cuisine pizza</p>
                        <span class="th-menu_price">$190.85</span>
                    </div>
                    <div class="fire">
                        <img src="~/asset/img/update_2/shape/fire.png" alt="shape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="th-menu">
                    <div class="th-menu_img">
                        <img class="spin"
                             src="~/asset/img/update_2/menu/menu_1_2.png"
                             alt="menu Image" />
                        <div class="product-action">
                            <a href="cart.html">
                                <span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span>
                            </a>
                            <a href="wishlist.html">
                                <span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span>
                            </a>
                            <a class="popup-content" href="#QuickView">
                                <span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span>
                            </a>
                        </div>
                        <div class="th-menu_discount">
                            <span class="sale">24% OFF</span>
                        </div>
                    </div>
                    <div class="th-menu-content">
                        <h3 class="th-menu_title">
                            <a href="shop-details.html">Pasta salad</a>
                        </h3>
                        <p class="th-menu_desc">Chow mien Fried noodles</p>
                        <span class="th-menu_price">$160.85</span>
                    </div>
                    <div class="fire">
                        <img src="~/asset/img/update_2/shape/fire.png" alt="shape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="th-menu">
                    <div class="th-menu_img">
                        <img class="spin"
                             src="~/asset/img/update_2/menu/menu_1_3.png"
                             alt="menu Image" />
                        <div class="product-action">
                            <a href="cart.html">
                                <span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span>
                            </a>
                            <a href="wishlist.html">
                                <span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span>
                            </a>
                            <a class="popup-content" href="#QuickView">
                                <span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span>
                            </a>
                        </div>
                        <div class="th-menu_discount">
                            <span class="sale">24% OFF</span>
                        </div>
                    </div>
                    <div class="th-menu-content">
                        <h3 class="th-menu_title">
                            <a href="shop-details.html">Vegetarian</a>
                        </h3>
                        <p class="th-menu_desc">Cuisine Meal Health Food</p>
                        <span class="th-menu_price">$170.85</span>
                    </div>
                    <div class="fire">
                        <img src="~/asset/img/update_2/shape/fire.png" alt="shape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="th-menu">
                    <div class="th-menu_img">
                        <img class="spin"
                             src="~/asset/img/update_2/menu/menu_1_4.png"
                             alt="menu Image" />
                        <div class="product-action">
                            <a href="cart.html">
                                <span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span>
                            </a>
                            <a href="wishlist.html">
                                <span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span>
                            </a>
                            <a class="popup-content" href="#QuickView">
                                <span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span>
                            </a>
                        </div>
                        <div class="th-menu_discount">
                            <span class="sale">24% OFF</span>
                        </div>
                    </div>
                    <div class="th-menu-content">
                        <h3 class="th-menu_title">
                            <a href="shop-details.html">Sushi pizza</a>
                        </h3>
                        <p class="th-menu_desc">Japanese Cuisine Chicken</p>
                        <span class="th-menu_price">$120.85</span>
                    </div>
                    <div class="fire">
                        <img src="~/asset/img/update_2/shape/fire.png" alt="shape" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="th-menu">
                    <div class="th-menu_img">
                        <img class="spin"
                             src="~/asset/img/update_2/menu/menu_1_5.png"
                             alt="menu Image" />
                        <div class="product-action">
                            <a href="cart.html">
                                <span class="action-text">Add To cart</span><span class="icon"><i class="far fa-cart-shopping"></i></span>
                            </a>
                            <a href="wishlist.html">
                                <span class="action-text">Wishlist</span><span class="icon"><i class="far fa-heart"></i></span>
                            </a>
                            <a class="popup-content" href="#QuickView">
                                <span class="action-text">Quick View</span><span class="icon"><i class="far fa-eye"></i></span>
                            </a>
                        </div>
                        <div class="th-menu_discount">
                            <span class="sale">24% OFF</span>
                        </div>
                    </div>
                    <div class="th-menu-content">
                        <h3 class="th-menu_title">
                            <a href="shop-details.html">Chicken Pasta</a>
                        </h3>
                        <p class="th-menu_desc">Barbecue cuisine gyro Pasta</p>
                        <span class="th-menu_price">$100.85</span>
                    </div>
                    <div class="fire">
                        <img src="~/asset/img/update_2/shape/fire.png" alt="shape" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>