@model Foods
@{
    int count = 0;
}
<div id="QuickView" class="white-popup" style="margin:10% 0;">
    <div class="container bg-white">
        <div class="row">
            <div class="col-lg-7">
                <div class="product-thumb-area">
                    <div class="product-thumb-tab" data-asnavfor=".product-big-img">
                        @foreach (var item in Model.ProductImages)
                        {
                            count++;
                            @if (count == 1)
                            {
                                <div class="tab-btn active">
                                    <img src="~/img/@item.ImagePath"
                                         alt="Product Thumb" />
                                </div>
                            }
                            else
                            {
                                <div class="tab-btn">
                                    <img src="~/img/@item.ImagePath"
                                         alt="Product Thumb" />
                                </div>
                            }

                        }

                    </div>
                    <div class="product-big-img th-carousel"
                         data-slide-show="1"
                         data-md-slide-show="1"
                         data-fade="true">
                        @foreach (var item in Model.ProductImages)
                        {
                            <div class="col-auto">
                                <div class="img">
                                    <img src="~/img/@item.ImagePath"
                                         alt="Product Image" />
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <div class="product-about">
                    <div class="product-rating">
                        <div class="star-rating"
                             role="img"
                             aria-label="Rated 5.00 out of 5">
                            <span style="width: 100%">
                                Rated <strong class="rating">5.00</strong> out of 5 based
                                on <span class="rating">1</span> customer rating
                            </span>
                        </div>
                        <a href="shop-details.html" class="woocommerce-review-link">(<span class="count">3</span> customer reviews)</a>
                    </div>

                        <h2 class="product-title">@Model.Name</h2>
                        <p class="price">$@Model.Price<del>$350.99</del></p>
                        <p class="text">@Model.Description</p>

                    <div class="actions">
                        <div class="quantity">
                            <input type="number"
                                   class="qty-input"
                                   step="1"
                                   min="1"
                                   max="100"
                                   name="quantity"
                                   value="1"
                                   title="Qty" />
                            <button class="quantity-plus qty-btn">
                                <i class="far fa-chevron-up"></i>
                            </button>
                            <button class="quantity-minus qty-btn">
                                <i class="far fa-chevron-down"></i>
                            </button>
                        </div>
                        <button class="th-btn">Add to Cart</button>
                        <a class="icon-btn" href="wishlist.html">
                            <i class="fal fa-heart"></i>
                        </a>
                    </div>
                    <div class="product_meta">
                        <span class="sku_wrapper">Restaurant: <span class="sku">@Model.Restaurants.Name</span></span>
                        <span class="posted_in">
                            Category:
                            <a href="shop.html" rel="tag">@Model.Categories.Name</a>
                        </span>
                    </div>
                    <div class="share">
                        <p class="share-title">
                            <i class="fa-solid fa-share"></i> Share
                        </p>
                        <div class="th-social">
                            <a target="_blank" href="https://facebook.com/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a target="_blank" href="https://twitter.com/">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a target="_blank" href="https://instagram.com/">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a target="_blank" href="https://linkedin.com/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
</div>