<section class="space">
    <div class="shape-mockup jump d-none d-lg-block"
         data-top="10%"
         data-left="5%">
        <img src="~/asset/img/update_2/shape/cherry_1.png" alt="shape" />
    </div>
    <div class="shape-mockup jump d-none d-lg-block"
         data-bottom="-3%"
         data-right="3%">
        <img src="~/asset/img/update_2/shape/shape_5.png" alt="shape" />
    </div>
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Expert Chefs</span>
            <h2 class="sec-title">Meet our expert chefs</h2>
        </div>
        <div class="row th-carousel"
             data-slide-show="4"
             data-lg-slide-show="3"
             data-md-slide-show="2"
             data-sm-slide-show="2"
             data-xs-slide-show="1"
             data-arrows="true">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="th-team team-box">
                    <div class="team-img">
                        <img src="~/asset/img/update_2/team/team_2_1.jpg" alt="Team" />
                    </div>
                    <div class="team-content-wrap">
                        <span class="team-desig">Chief Executive</span>
                        <div class="team-content">
                            <h3 class="team-title">
                                <a href="team-details.html">David Latham</a>
                            </h3>
                            <div class="th-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" href="https://linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="th-team team-box">
                    <div class="team-img">
                        <img src="~/asset/img/update_2/team/team_2_2.jpg" alt="Team" />
                    </div>
                    <div class="team-content-wrap">
                        <span class="team-desig">Chief Chef</span>
                        <div class="team-content">
                            <h3 class="team-title">
                                <a href="team-details.html">Mary Jenica</a>
                            </h3>
                            <div class="th-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" href="https://linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="th-team team-box">
                    <div class="team-img">
                        <img src="~/asset/img/update_2/team/team_2_3.jpg" alt="Team" />
                    </div>
                    <div class="team-content-wrap">
                        <span class="team-desig">Senior Chef</span>
                        <div class="team-content">
                            <h3 class="team-title">
                                <a href="team-details.html">Joseph Carter</a>
                            </h3>
                            <div class="th-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" href="https://linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="th-team team-box">
                    <div class="team-img">
                        <img src="~/asset/img/update_2/team/team_2_4.jpg" alt="Team" />
                    </div>
                    <div class="team-content-wrap">
                        <span class="team-desig">Senior Chef</span>
                        <div class="team-content">
                            <h3 class="team-title">
                                <a href="team-details.html">Anjelina Rosee</a>
                            </h3>
                            <div class="th-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" href="https://linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="th-team team-box">
                    <div class="team-img">
                        <img src="~/asset/img/update_2/team/team_2_5.jpg" alt="Team" />
                    </div>
                    <div class="team-content-wrap">
                        <span class="team-desig">Senior Chef</span>
                        <div class="team-content">
                            <h3 class="team-title">
                                <a href="team-details.html">Rubina Jenny</a>
                            </h3>
                            <div class="th-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" href="https://linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="th-team team-box">
                    <div class="team-img">
                        <img src="~/asset/img/update_2/team/team_2_6.jpg" alt="Team" />
                    </div>
                    <div class="team-content-wrap">
                        <span class="team-desig">Junior Chef</span>
                        <div class="team-content">
                            <h3 class="team-title">
                                <a href="team-details.html">Alex Jender</a>
                            </h3>
                            <div class="th-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" href="https://linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="th-team team-box">
                    <div class="team-img">
                        <img src="~/asset/img/update_2/team/team_2_7.jpg" alt="Team" />
                    </div>
                    <div class="team-content-wrap">
                        <span class="team-desig">Junior Chef</span>
                        <div class="team-content">
                            <h3 class="team-title">
                                <a href="team-details.html">Jimey Anderson</a>
                            </h3>
                            <div class="th-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" href="https://linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="th-team team-box">
                    <div class="team-img">
                        <img src="~/asset/img/update_2/team/team_2_8.jpg" alt="Team" />
                    </div>
                    <div class="team-content-wrap">
                        <span class="team-desig">Chief Executive</span>
                        <div class="team-content">
                            <h3 class="team-title">
                                <a href="team-details.html">Josep Brtomeu</a>
                            </h3>
                            <div class="th-social">
                                <a target="_blank" href="https://facebook.com/">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a target="_blank" href="https://instagram.com/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a target="_blank" href="https://linkedin.com/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="overflow-hidden space-bottom">
    <div class="container">
        <p class="brand-title">
            <span class="text">Global 5K+ Happy Sponsors With us</span>
        </p>
        <div class="row th-carousel"
             id="brandSlide1"
             data-slide-show="6"
             data-lg-slide-show="5"
             data-md-slide-show="4"
             data-sm-slide-show="3"
             data-xs-slide-show="2">
            <div class="col-auto">
                <div class="brand-box">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_1.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_1.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_2.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_2.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_3.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_3.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_4.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_4.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_5.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_5.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_6.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_6.svg"
                         alt="Brand Logo" />
                </div>
            </div>
            <div class="col-auto">
                <div class="brand-box">
                    <img class="original"
                         src="~/asset/img/update_2/brand/brand_2_7.svg"
                         alt="Brand Logo" />
                    <img class="gray"
                         src="~/asset/img/update_2/brand/brand_2_7.svg"
                         alt="Brand Logo" />
                </div>
            </div>
        </div>
    </div>
</div>
