@model Contact

<section class="space-bottom contact-form-sec">
    <div class="container">
        <div class="reservation-area">
            <h4 class="sec-title text-center mb-30">Send Us Message</h4>
            <form method="post" asp-action="Create"
                  
                  class="booking-form3 ">
                <div class="row">
                    <div class="form-group col-lg-4 col-md-6">
                        <input asp-for="FullName" type="text"
                               class="form-control rounded-2"
                               name="FullName"
                               placeholder="Full Name" />
                        <i class="far fa-user"></i>
                    </div>
                    <div class="form-group col-lg-4 col-md-6">
                        <input asp-for="CityName" type="text"
                               class="form-control rounded-2"
                               name="CityName"
                               placeholder="City Name" />
                        <i class="fa fa-building"></i>
                    </div>
                    <div class="form-group col-lg-4">
                        <input asp-for="Email" type="email"
                               class="form-control rounded-2"
                               name="Email"
                               placeholder="Email" />
                        <i class="far fa-tag"></i>
                    </div>
                    <div class="form-group col-12">
                        <textarea asp-for="Message" name="Message"
                                  cols="30"
                                  rows="3"
                                  class="form-control rounded-2"
                                  placeholder="Write Message"></textarea>
                        <i class="far fa-comment"></i>
                    </div>
                </div>
                <div class="form-btn text-center">
                    <input type="submit" value="submit" class="th-btn rounded-2">
                        Send Message<i class="fa-solid fa-arrow-right ms-2"></i>
                </div>
                <p class="form-messages mb-0 mt-3"></p>
            </form>
        </div>
    </div>
</section>